// Styling for the team section
.feedback-intro {
  max-width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.feedback-member {
  .rounded-circle {
    transition: box-shadow 0.3s ease-in;
    &:hover {
      box-shadow: 3px 0px 25px #989898; 
      transition: box-shadow 0.3s ease-in;
    }
  }
  display: flex;
  flex-direction: column;
  .portfolio-link {
    color: #298be4;
  }
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
    border: 7px solid $white;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
  .feedback-text {
    font-style: italic;
  }
}
