// Styling for the contact section
section#print {
  background-color: #25b0be;
  padding: 300px 0;
  background-image: url('../img/print/cv.png');
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $black;
  }
}